<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Kronos Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.cognitree.kronos.webserver</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kronos Web Application</servlet-name>
    <url-pattern>/kronos/*</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>
      com.cognitree.kronos.webserver.listeners.SchedulerContextListener
    </listener-class>
  </listener>

  <!-- comment out ExecutorContextListener to start only the scheduler -->
  <listener>
    <listener-class>
      com.cognitree.kronos.webserver.listeners.ExecutorContextListener
    </listener-class>
  </listener>

</web-app>
